:root {
    color-scheme: light dark;
}

body {
    width: 250px;
    padding: 25px;
    font-family: system-ui;
    text-align: center;
}

h1 {
    margin-top: 0;
}

footer {
    margin-top: 25px;
    font-size: 0.8em;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}

input,
button {
    display: block;
    width: 150px;
    margin: 5px auto;
    border: none;
    padding: 5px;
}

input#key {
    background: white;
    color: black;
    margin-bottom: 15px;
}

input[type="submit"] {
    background: rgb(11, 67, 98);
    color: white;
    cursor: pointer;
}

button#test {
    background: rgb(98, 98, 11);
    color: white;
    cursor: pointer;
}

p#results {
    display: none;
}
