:root {
    color-scheme: light dark;
}

body {
    width: 250px;
    padding: 25px;
    font-family: system-ui;
    text-align: center;
}

h1 {
    margin-top: 0;
}

footer {
    margin-top: 25px;
    font-size: 0.8em;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}

input {
    display: block;
    width: 150px;
    margin: 5px auto;
}

input#key {
    background: white;
}
